input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for all buttons */
.buttonInsc {
    background-color: #3c3c3c;
    color: white;
    padding: 3px 20px;
    margin: 10px 5px;
    border: 2px solid darkred;
    cursor: pointer;
    width: 90%;
}

.buttonInsc:hover{
    background-color: darkred;
    color: white;
}
/* Set a style for all buttons */
.buttonInscForm {
    background-color:black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #4cae4c;
    cursor: pointer;
    width: 90%;
}

.buttonInscForm:hover {
    opacity: 0.8;
    background-color: #4cae4c;
    color: white;
}

/* Extra styles for the cancel button */
.cancelbtnFormInsc {
    padding: 10px 18px;
    background-color:black;
    color: white;
    margin: 8px 0;
    border: 2px solid red;
    cursor: pointer;
    width: 30%;
}
.cancelbtnFormInsc:hover{
    opacity: 0.8;
    background-color: red;
    color: white;
}
/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    width: 100%;
}

.alert{
    width: 90%;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: auto; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: auto;
}

/* Modal Content/Box */
.modal-content {
    background-color: #0f0f0f;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

p{
    color: white;
}