body {
    overflow-x: hidden;
    background-color: black;

}
input[type=text] {
    width: 70%;
    padding: 0px 5px;
    margin: 2px ;
    color: white;
    background-color: black;
}
input[type=text]:disabled {
    width: 20%;
    padding: 0px 5px;
    margin: 2px ;
    color: white;
    background-color: black;
    text-align: center;
}

input[type=password] {
    width: 70%;
    padding: 0px 5px;
    margin: 2px ;
    color: white;
    background-color: black;
}

input[type=submit] {
    background-color: black;
    border: 1px solid #ddd;
    color: white;
    padding: 2px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=number]{
    width: 30%;
    background-color: black;
    border: 1px solid #ddd;
    color: white;
    padding: 2px 10px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}
input[type = date]{
    width: 70%;
    padding: 0px 5px;
    margin: 2px ;
    color: white;
    background-color: black;
}
label{
    color: white;
}
legend{
    color: white;
}
th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #2e6da4;
    color: white ;
}
h2{
    color: white;
}
p{
    color: white;
}
tr{
    text-align: center;
    color: white;
}
tr:nth-child(even) {background-color: #2e6da4;}
tr:hover {background-color:#9d9d9d;}
.btn{
    margin-left:10px;
}
.custom {
    width: 85px !important;
}
.buttonTable {
    background-color: #000000;
    color: white;
    padding: 3px 20px;
    margin: 3px 3px;
    border: 2px solid #2e6da4;
    cursor: pointer;
    border-radius: 4px;
    width: 50%;
}

.buttonTable:hover{
    background-color: #2e6da4;
    color: white;
}